[submodule "deps/kseqcpp"]
	path = deps/kseqcpp
	url = https://github.com/ljyanesm/kseqcpp.git
[submodule "deps/cxxopts"]
	path = deps/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest
